.message {
    text-align: left;
    background-color: #dadae0;
    margin: 4px;
    padding: 6px;
    border-radius: 4px;
}

.message--user {
    font-weight: 800;
}

.message--time {
    font-weight: normal;
}